*{
    margin:0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: white;
}
.rating{
    height:270px;
    width: 500px;
    background: rgb(227, 228, 228);
    border: 5px solid rgba(25, 106, 255, 0.76);
    border-radius: 20px;
    padding: 20px;
}
.rating div{
    font-size: 15px;
    text-align: center; 
    font-weight: 100;
}
.rating input{
    display: none;
}
.rating input+label{
    font-size: 55px;
    cursor: pointer;
    text-shadow: 2px 1px 0 #595858;

}
.star-icon{
    color: #ffe400;
}
.rating input:checked+label ~ label{
    color:#838383;
}
.rating label:active{
    transform: scale(0.8);
    transition: 0.025s ease;
}
.btn{
    width: 160px;
    background: rgba(0, 89, 255, 0.76);
    color: #fff;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 15px;
}
.btn:hover{
    color: white;
    background-color: dodgerblue;
    transition: all 0.5s ease;
}